[submodule "AnhyLibAPI/examples/ExampleLangPlugin/ExampleLangPlugin"]
	path = AnhyLibAPI/examples/ExampleLangPlugin/ExampleLangPlugin
	url = https://github.com/AnhyDev/ExampleAnhyLangPlugin
[submodule "AnhyLibAPI/examples/ExamplePlugin/ExamplePlugin"]
	path = AnhyLibAPI/examples/ExamplePlugin/ExamplePlugin
	url = https://github.com/AnhyDev/ExampleAnhyPlugin.git
